body {
  background-color: #F9F54B;
  font-family: 'Roboto', sans-serif;
  min-width: 20rem;
}

::-webkit-scrollbar {
  background-color: #F9F54B;
}

::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 0.2rem;
}